.form {
  @include bg-main();

  form {

    display: flex;
    flex-direction: column;
    padding: 0 8rem;

    .form-group {
      display: flex;
    }

    label {
      width: 25%;
    }

    label:first-letter {
      font-family: $title-font;
    }

    .required:after {
      content: '*';
      color: red;
      padding-left: 0.2rem;
      font-size: 1.3rem;
    }

    button {
      width: max-content;
      margin: auto;
      display: flex;
      margin-top:1rem;
    }

  }
}
