.form {

  background-color: $lightest;
  padding: 0 0 1rem 0;
  width: 60%;
  border-radius: 2px;
  box-shadow: 0 0 5px 1px darken($light, 5%);

  .btn-light {
    margin: 1rem;
  }

  $icon-size: 10rem;

  .icon {
    height: $icon-size;
    width: $icon-size;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color:$lightest;
  }

  h1 {
    text-align: center;
  }

  form {

    display: flex;
    flex-direction: column;
    padding: 0 8rem;

    .form-group {
      display: flex;
    }

    label {
      width: 25%;
    }

    label:first-letter {
      font-family: $title-font;
    }

    .required:after {
      content: '*';
      color:red;
      padding-left: 0.2rem;
      font-size: 1.3rem;
    }

    button {
      width: max-content;
      margin: auto;
    }

  }
}
