// Colors

$dark: #35536B;
$light: #E5E5F1;
$lightest: #ffffff;

$success: #83d494;
$danger: #db5d69;
$warning: #f1cf82;

$warm:#FBF5E7;

$darkprimary:#63A8C7;
$primary:#AAD1E2;
$secondary:#F3CED5;

// Fonts

$title-font: 'Cinzel Decorative', cursive;
$main-font: 'Lato', sans-serif;
