// Colors

$dark: #35536B;
$light: #E5E5F1;
$lightest: #ffffff;

$success: #83d494;
$danger: #db5d69;
$warning: #f1cf82;

$warm:#FBF5E7;

$darkprimary:#63A8C7;
$primary:#AAD1E2;
$secondary:#F3CED5;

// Fonts

$title-font: 'Cinzel Decorative', cursive;
$main-font: 'Lato', sans-serif;

// Others

$avatar-height:320px;
$avatar-width:200px;

// Mixins

@mixin bg-main() {
  background-color: $lightest;
  padding: 1rem 0 1rem 0;
  margin-bottom: 3rem;
  width: 60%;
  border-radius: 2px;
  box-shadow: 0 0 5px 1px darken($light, 5%);

  .btn-light {
    margin-left: 1rem;
    display: flex;
    width: max-content;
  }

  h1 {
    text-align: center;
  }

  $icon-size: 10rem;

  .icon {
    height: $icon-size;
    width: $icon-size;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: $lightest;
  }
}
