@import "vars";
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
//@import '~@fortawesome/fontawesome-free/scss/brands';
@import "navbar";
@import "index";
@import "form";

html, body {
    min-height: 100%;
    background-color: $light;
    font-family: $main-font;
}

body {
    padding-top: 7rem;
}

h1 {
    font-family: $title-font;
    padding: 2rem 0;
}

.uk-icon {
    display: flex;
}

.avatar {
    height: $avatar-height;
    width: $avatar-width;
    object-fit: cover;
}
