.index {
  @include bg-main();
  padding-bottom: 2rem;

  .btn {
    display: flex;
    width: max-content;
    align-items: center;
  }

  .table {
    width: 90%;
    margin: auto;
  }

  thead {
    th {
      text-align: center;
      vertical-align: middle;
    }
  }

  tbody {
    tr {
      td:nth-child(2) {
        font-weight: bold;
      }
    }

    tr {
      td:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
